
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.card.my-4{
  max-width:360px;
}

.fa-camera{
   background: url('photo-camera2.png') no-repeat;
    height:16px;
    width:16px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    padding-top: 20px;
}


.btn .btn-primary .spc{
  margin:1px;
}

.firstline{
  font-weight:600;
}

.topright{
      position: absolute;
    top: 0px;
    right: 0px;
}
#social{margin-bottom:5px;display:none;}
.mt-4{
  margin-top:5px;
}

.mega-hide{
  display:none!important;
  visibility: hidden!important;
}

.mega-btn{
      max-width: 400px;
 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 16px 12px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 700;
    margin: 20px 0 20px;
    color: #fff;
    display: block;
    vertical-align: middle;
    line-height: 1.42857143;
}

.carousel-indicators {
    position: unset!important;
    }

.people-icons{
  display:inline-block;
}
.learnmore {
    border-radius: 2px;
    margin: 2px auto;
    font-size: 1em;
    color: #fff;
    background-color: #ca3f3f;
    line-height: 22px;
    display:inline-block;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    cursor:pointer;
    margin-bottom:20px;
}
.buttoncta{
      margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p21{
  display:inline-block;
}
.aftercta{
  display:inline-block;
}
.advertorial{
      width: 100%;
    text-align: center;
    top: 0px;
    font-size: 1rem;
    position: absolute;
        color: #dedede;
}
.vc_column-inner{
  padding: 15px;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
 
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.photo-grid-item {
    margin: 0.2rem;
    border: 4px solid #007bff;
    border-radius: 15px;

}
.photo-grid-item2 {
    margin: 0.3rem;
    border: 4px solid #007bff;
    border-radius: 15px;

}

.photo-grid-item:hover {
    margin: 0.2rem;
    border: 4px solid #007bff;
    border-radius: 15px;
    background-color: pink;

}

.photo-grid-item2:hover {
    margin: 0.3rem;
    border: 4px solid #007bff;
    border-radius: 15px;
    background-color: #d1f3ff;

}

.clickyp{
  text-align: center;
  font-size:30px;
  margin:10px 0px !important;
  display: flex;
    flex-direction: column;

    align-items: center;
  
  
}
.big{
  text-align: center;
  margin-bottom:10px;
  cursor: pointer;
}


@media only screen and (max-width: 762px)  {

.advertorial {
    
    font-size: 10px;
    
}

.big{
      margin: 0px -50px;
}
.photo-grid-item {
  margin:0.1rem;
    border: 2px solid #27aad4;
    border-radius: 15px;
        max-width: 150px;
          cursor:pointer;
   
}



.photo-grid-item:hover {
    margin: 0.1rem;
  
    background-color: #d1f3ff;

}

.photo-grid-item2 {
  margin: 0.11rem;
    border: 2px solid #27aad4;
    border-radius: 15px;
    cursor:pointer;
     
}

.photo-grid-item2:hover {
    margin: 0.1rem;
  
    background-color: #d1f3ff;

}

.photo-grid-container {
  display: inline-flex;
  justify-content: center;
  max-width: 130px;
}
.photo-grid {
 text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}



.photo-grid-item2 img {
  width:50px;
  height:50px;
    display:inline-flex;
}

.photo-grid-item img {
  width:50px;
  height:50px;
    display:inline-flex;
}

.clickyp{
  text-align: center;
  font-size:25px;
  display:flex;
  flex-direction: row;
  vertical-align: top;
  margin-right: -25px;
      padding-right: 5px;
      margin-bottom: 0;
      
}

.clickytext{
  padding-top: 10%;
    padding-left: 10px;
    vertical-align: middle;
}

.photo-grid > p{
    height:0px;
}

}

#bottombar{
  display:none!important;
  
}


.p-item3{
margin-bottom:2px;
font-size:15px;
}

.p-item2{
  margin-bottom:6px;
  font-weight:600;
font-size:18px;
}

.checkbox {
  display:none;
}


.benefit{
  font-weight: 600;
}

/* Style the images inside the grid */
.col-sm-3 img {
  opacity: 0.8; 
  cursor: pointer; 
}

.col-sm-3 img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


 .flexcol{
      text-align: center;
 }


.whitebox{
  color:white;
}
.adv-side{
      position: fixed;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: #534F4E;
    max-width:360px;
}


.adv-side .card-header{
  color:white;
}

.adv-body{
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: white;
    
   
}

.heroimg{
  max-width:80%;
}

.benefitm,.title{
margin:0px;
font-size:1.5em;
padding-bottom:5px;
font-weight:600;
}

.steps3{
max-width: 150px;
    border: 5px solid gray;
    text-align: center;
    margin: 0 auto;
}

.space{
padding-bottom:20px;
}
.b-item{
padding-left:20px;
}

.subheading{
margin:0px;
}
.finalheading{
  padding:20px;
}
.title-subheading{
font-size:1.1em;
    color: #6d6969;
}
.section9{
  background-color:#F4F5F6;
  padding:20px;
}
.section10{
  background-color:#d3d3d3;
  padding:10px;

}
.section8{

    background: #eaeaea url('https://buy.techsmartgifts.com/wp-content/uploads/2019/05/sky3.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding:0px 40px 20px 40px
}
.section7{
  background: #ffffff url('https://buy.techsmartgifts.com/wp-content/uploads/2019/05/sky2.png') !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    padding:40px;

}
.section6{
  background-color: #e0fdff;
  padding:20px;
}
.section5{
  background-color:#FFFFFF;
  padding:20px;
}

.section3{
  background-color: #F0F4F8;
  padding:20px;
}
.t1{
color:white;
padding:20px 20px 20px 0px
}
.round{
  max-width:60px;
  max-height: 60px;
  border-radius:100px;
}

.roundface{
  max-width:120px;
  max-height: 120px;
  border-radius:100px;
  margin:0px 20px;
}

.section4{
  background-color: #727272;

}.checkbox-mate {
    position: absolute;
    left:6px;
    height: 0;
}.checkit {
    outline: 0;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ced8dd;
    background: #f2f9fd;
    position: relative;
    top: 50%;
    margin-top: -16px!important;
    pointer-events: none;
    margin-left: 0!important;
}
input:checked::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url(https://www.cadeauxsmart.com/static/b-checkmark.svg) center center/18px 18px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.s1-check{
   background: url(./TechSmartGifts_files/checking2.png) left top; 
   
    float: left;
    display: block;
   
   
   width:16px; 
   height:16px;
   display: block;
   float: left;
}

.main-section{
  background-color: #999999;
  padding:0px 100px!important;
}

.section2{
      background-color: #007fc4 !important;
      color:white;
      padding:10px 20px

}

.cta{
    background-color: #f47300!important;
    color: #fff!important;
    text-decoration: none;
    padding: 15px 10px!important;
    text-shadow: 0 1px 1px #1d252f;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    font-weight:600;
    box-shadow: 0 3px 0 #b55500;
}
.section1{
 padding:20px;
    background-color: #85CAF4;
    background-image: url('https://buy.techsmartgifts.com/wp-content/uploads/2019/05/sky1.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.imgalign{
  display: flex;
   align-items:center;
       flex-wrap: wrap;
       padding-left:0px!important;
       padding-right:5px!important;
    
}
.order-now{
  margin-top:20px;
  border: 1px solid #08501B;
    background-color: #19AF42;
    border-radius: 5px;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    font-weight: 700;
    padding: 10px;

}

.people-title{
  color: #007fc4;
}

.flex-people{
      justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.safecheck{
  font-weight:600;
  color:#017193;
}

.footer-link{color:#4f4f4f !important;font-size:13px;}

.order-now2{
 display:none;

}

.p-item1{
  padding-top:20px;
}

.p-item1b{
  padding-top:10px;
}

.label1{
      border-radius: 0 0 9px 10px;
       background-color: #EC463B;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    width: 100%;
    max-width: 180px;
    padding: 8px;
    position: relative;
    
   
       margin: 0 auto;
}

.label2{
      border-radius: 0 0 9px 10px;
           background-color: #19AF42;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    width: 100%;
    max-width: 180px;
    position: relative;
   padding:8px;
        margin: 0 auto;
}

.label3{
          border-radius: 0 0 9px 10px;
    background-color: #19AF42;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    width: 100%;
    max-width: 180px;
    /* padding: 8px; */
    top: -5px;
    position: relative;
    margin: 0 auto;
}




.label5{
  position:absolute;
  top:0px;
  left:30px;
      border-radius: 0 0 9px 10px;
           background-color: #EC463B;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    width: 100%;
    max-width: 180px;
 
   margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
   
        margin: 0 auto;
}

.purchase-item{
  height: 100%;
  text-align: center;
  background-color: white;
  border-radius:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.m-items{
  display:none;
}
.p-radio{
  display:none;
}

.footer-link{
  padding-left:10px;
}

.chosen-item{
      border: #8091e4 3px solid;
    background-color: #daf8ff;
}

.purchase-item:hover{
    background-color: #bff0ff;
    cursor:pointer;
}

.d-price{
color: green;

}
.bottomMenu{
  position: fixed; bottom: 0px; left: 0px; right: 0px; height: 90px; background-color: rgba(0, 0, 0, 0.8); width: 100%;
}

.hide {
    opacity:0;
    
}
.show {
    opacity:1;
    
}



@media only screen and (min-width: 1400px) {

.main-section{
  background-color: #999999;
  padding:0px 300px!important;
}
}

@media only screen and (max-width: 767px) {

.clickyp{
  
  font-size:20px;
 
      
}

#bottombar{
  display:flex!important;
  align-items: center;
    justify-content: center;

}
.roundface{
  margin:0 5px;
}
.section7{
 
    padding:10px;

}

.label2{
  position:absolute;
  top:0px;
  left:30px;
      border-radius: 0 0 9px 10px;
           background-color: #19AF42;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    width: 100%;
    max-width: 180px;
 padding:0px;
   margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
   
        margin: 0 auto;
}

.mobile-pop{
  padding-top:25px;
}

.img2{
  max-width: 80%;
}

.imgalign:nth-child(3n){
display:none;
}

.mcenter{
  text-align: center;
    margin: 0 auto;
}

.p-image{
  max-width:100px;
  padding-left:20px;
}
.order-now2{
 display:block;
 border: 1px solid #08501B;
    background-color: #19AF42;
    border-radius: 5px;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    margin-top: 40px;width:80%;cursor:pointer;border-radius:20px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.checkbox {
    display: inline-block;
    height: 30px;
    padding: 0 10px 0 5px!important;
}



.section0{
  display:none;
}

.m-price{
  color:green;
}

.m-title{
  font-weight: 600;padding-bottom: 5px;margin-bottom:0px;
}

.main-section{
  background-color: #999999;
  padding:0px 0px!important;
}
.p-radio{
  display:block;
}

.p-item1{
  display:none;
}

.label1{
  display:none;
}

.p-item1b{
  display:none;
}

.purchase-item{
  margin: 2px 0px;
  display: flex;
  align-items:center;

}
.d-items{
  display:none;
}
.m-items{display:block;text-align: left;}
}

.center{
  text-align: center;
  margin: 0 auto;
}


.benefit-item{
display: flex;
   align-items:center;
       justify-content: center;
       padding:20px 0px;
       max-width: 800px;
     }

   .lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
.datetitle{
        margin-bottom: 4px!important;
}

.buttoncta > p{
  margin-bottom:0px;
      margin-top: 0px;
}

.datetime{
  font-size:11px;
}

li{
  font-size: 1.0rem;
}

h3{
  text-align:center;
}

.post-entry a, .container-single .post-entry a {
    font-weight:600;
}
.share-page-widget .share-page-module {
    float: left;
    display: block;
    visibility: visible;
    margin: 10em 0 .5em -10.4em;
    width: 150px;
    height: 70px;
}

.share-page-widget .share-page-list {
    position: fixed;
    display: block;
    width: 130px;
}
.share-page-widget .share-page-list .facebook {
    background: #738ec9;
}

.share-page-widget .share-page-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0 0 0;
    list-style: none;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.listicleTitle{
 font-size:40px!important;   
}

.datetitle{
        font-size: 12px;
    padding: 0px;
    margin: 3px;
}

strong{
    font-weight:600;
}
#navigation.header-layout-bottom {
    border-top:0px;
}
#advertorial{
        text-align: center;
    font-size: 12px;
    color: gray;
    border: none;
    padding-top: 10px;
    position: absolute;
    left: 50%;
    z-index: 10;
}
@media only screen and (min-width: 800px) {
    #crojohnson{
        display:none;
    }

}/*
.photo-grid {
 
  display: -webkit-box;
 
  display: -ms-flexbox;
 
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
*/
 @media only screen and (max-width:300px){
.clickimg {
    width: 30px !important;
    vertical-align: middle;
}
}



@media only screen and (max-width: 480px) {
/*
    .clickyp{
    width: 100%!important;
}
  .cta{
      font-size: 25px !important;
    line-height: 30px !important;
}
  
.clickimg{
    width:40px !important;
 vertical-align: middle;
}
   */ 
    .listicleTitle{
 font-size:22px!important;   
}/*
  .photo-grid-container .photo-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .photo-grid .photo-grid-item2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
    width: 44%;
    max-width: 44%;
   
   
  }

   .photo-grid .photo-grid-item2  a{
  
    width: 100%;
  }

  .photo-grid .photo-grid-item2 .clickyp {
    font-size: 18px;
    font-weight: bold;
  }

  .photo-grid .photo-grid-item2 img {
    max-width: 100%;
    width: auto;
  }
  */
}

#navigation.header-6 .menu {
    float: none;
    padding-top: 10px;
}

.jimagelink{
    width: 42px;
    height: 42px;
}

.box {
   display: flex !important;
   align-items:center;
   background-color:#eee;
  cursor:pointer;
  margin-bottom:5px;
}

.jimage{
  padding:5px;
  background-color:#1488CC;
}

.j-text{
  padding-left:10px;
  font-weight:600;
}

/*
.buttoncta:hover{
    background-color:#35a1e1;;
}*/
.cta{
      line-height: 40px;
}

.textbox{
    padding-bottom:10px;
}

.featureddeal{
    font-size:14px;
    font-weight:500;
}
.dealme{
  color: #1488CC;
  }

.firstline{
  font-weight:600;
}


.post-entry h1, .wpb_text_column h1 {
    font-size: 35px;
    font-weight: 600;
}

#advertorial {
    margin:0px !important;
}
#discloser > p{
    
    font-size:10px;
}
.post-pagination, .post-related{
  display:none;
}

p{
    font-size:1.0rem;
    line-height: 1.2;
}

.big p{
  margin:0;
  
}
.clickylink{
  text-decoration: none;
  color:#417b8e;
}


.clickytext{
    color:#164396;
}
/*
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
 
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}


.photo-grid-item2 {
    margin: 0.3rem;
   border: 4px solid #164396;
    border-radius: 15px;
    max-width:150px;

}



.photo-grid-item2:hover {
   margin: 0.3rem;
   border: 4px solid #164396;
    border-radius: 15px;
    background-color: #d1f3ff;

}

.clickyp{
  text-align: center;
  font-size:30px;
  margin:10px 0px !important;
  */
}
.big{
  text-align: center;
  margin-bottom:10px;
  cursor: pointer;
}


@media only screen and (max-width: 762px)  {
.cta{
    font-size:30px;
}
.post-entry h1, .wpb_text_column h1 {
    font-size: 25px;
    font-weight: 600;
}


#navigation .button-menu-mobile {
    float: right;
}

#navigation.header-6 #logo {
    float: left;
    display: inline-block;
}

#navigation.header-6 #logo img {
    max-width: 150px;
}
/*
.photo-grid-item2 {
  margin: 0.11rem;
   border: 4px solid #164396;
    border-radius: 15px;
     
}

.photo-grid-item2:hover {
    margin: 0.1rem;
  
    background-color: #d1f3ff;

}

.photo-grid-container {
  display: inline-flex;
  justify-content: center;
 
}
.photo-grid {
 text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}



.photo-grid-item2 img {
  width:100%;
    display:inline-flex;
}



.clickyp{
  text-align: center;
  font-size:25px;
  display:inline-block;
  vertical-align: top;
  margin-right: -25px;
      padding-right: 5px;
      margin-bottom: 0;
        display:inline-flex;
}


.clickytext{
  padding-top: 10%;
    padding-left: 10px;
    vertical-align: middle;
}

.photo-grid > p{
    height:0px;
}
*/
}

.img23:hover{
    background-color:red;
}
#img23:hover{
    background-color:red;
}

@media only screen and (max-width: 340px){
.clickytext {
    padding-top: 0px;
    padding-left: 0px;
    vertical-align: middle;
}
}

@media only screen and (max-width: 800px) {
#list-nav-bar, #adv-sidebar{
    display:none;
}
}

#comments{
    display:none;
}
.listicleTitle {
    font-size:35px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #89aabd;
  color: white;
}
.container-single .single-post-title{
    display:none;
}

#list-nav-bar{
    position:sticky;
    top:0;
}


#header {
    margin-bottom: 0px!important;
    }

    .container.penci-breadcrumb {
     margin-bottom: 0px!important;
     }

     #navigation.header-6 #logo img {
padding:0!important;
}
#author-info {
    text-align: center;
  
    margin-top:20px;
    float: left;
    width: 140px;
    display:block
}

#author-info img {
    border-radius: 50px;
    border: 3px solid #3e9acf;
}


#navigation.header-6 {
    height: unset; 
}
#navigation.header-6 .menu > li > a, #navigation.header-6 ul.menu > li > a {
line-height:unset;
padding-top:2px
}

header {
    margin-bottom: 0rem;
}
body {
 
}
img{
  max-width: 100%;
}


.adv {
  display:none;
}

@media only screen and (max-width: 699px) {
.peeps-header {
  height:25px!important;
}



.col-lg-8 {

  margin-top:10px;
}

.mt-4 {
    
    font-size: 1.4em!important;
   
}

.peepssub {
  font-size: 0.8em!important;
}

.action-button {
    position: relative;
    padding: 2px 2px 3px!important;
    width: 38px !important;
    margin: 0px 0px 2px 0px!important;
    float: left;
    border-radius: 10px;
    font-size: 13px!important;
    color: #FFF;
    text-decoration: none;
}

.adv {
  display:block!important;
  font-size: 12px;
    margin-top: 15px!important;
    margin-bottom: 0px !important;
  color: gray;
}

h3{
text-align: center;
}

}


.action-button
{
  position: relative;
  padding: 2px 10px;
  width:58px;
  margin: 0px 0px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Arial', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;  
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}



.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.action-button:hover {
    background-color: #BD3E31; /* Green */
    color: white;
}

.spc2:hover {
    background-color: #e67405; /* Green */
    color: white;
}

/*
.buttoncta a
{
color:white !important;
text-align: center;
}

.buttoncta {
    
    flex-wrap: wrap;
    justify-content: space-between;
     width: 100%;
    background-color: #1488cc;
    border: solid #1488cc 2px;
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor:pointer;
    text-align: center;
}*/

.spc {
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  margin:2px;
  font-size:0.8em;
  width: 100px;
  height: 51px;
  text-align: center;
    white-space: normal;
    background-color:#689df5;
  padding: 2px 10px;
  vertical-align: middle;
    line-height: 15px;
    display: table-cell;
}

.spc2 {
  border-radius: 2px;
  margin-left: 15px !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    margin: 2px 1px;
    font-size: 1.3em;
    border-color:#ffb450;
    width: 130px;
    height: 51px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    white-space: normal;
    background-color: #FF8814;
    padding: 2px 10px;
    vertical-align: middle;
    width: 150px;
    height: 80px;
    line-height: 23px;
    border-radius: 6px;
    display: table-cell;
    text-shadow: 0px 1px #000000;
    border-bottom: 5px solid #BD3E31;
}


.closeLPModal {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}



